<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <div class='second-fotter-text'>未成年者の飲酒は法律で禁止されています。</div>
    <div class='second-fotter-text-right'>©2022 ALCORHYTHM.All Rights Reserved.</div>
  </div>
</footer>