.login {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn {
  width: 100px;
  background: rgb(241, 226, 232);
  border: none;
  color: rgb(52, 5, 53);
  line-height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.login-flash-message {
  text-align: center;
  color: red;
}